<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="utf-8" th:fragment="head">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title}"></title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">

  <script th:src="@{/js/main.js}"></script>

</head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark" th:fragment="navbar">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">
        <i class="fa d-inline fa-lg fa-bookmark-o"></i>
        <b>&nbsp;Library</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <div class="btn-group  pr-2"  sec:authorize="isAuthenticated()">
          <button class="btn dropdown-toggle btn-outline-secondary" data-toggle="dropdown">Hola
            <strong th:text="${sessionContext.usuario.name}"></strong>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Mis datos</a>
            <a class="dropdown-item" th:href="@{/usuario/misalquileres}">Mis libros alquilados</a>
            <a class="dropdown-item" href="#">Mis libros leídos</a>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn dropdown-toggle btn-outline-secondary" data-toggle="dropdown">Idioma&nbsp;</button>
          <div class="dropdown-menu">
            <a class="dropdown-item lang-option" href="#">ES</a>
            <a class="dropdown-item lang-option" href="#">FR</a>
            <a class="dropdown-item lang-option" href="#">EN</a>
          </div>
        </div>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" th:href="@{/logout}" sec:authorize="isAuthenticated()">
          <i class="fa d-inline fa-lg fa-sign-out"></i>&nbsp;Logout</a>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" th:href="@{/login}" th:if="${#strings.contains(title,'gistro')}">
          <i class="fa d-inline fa-lg fa-sign-in"></i>&nbsp;Login</a>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" th:href="@{/registro}" th:if="${#strings.contains(title,'login')}">
          <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Registro</a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
  <div class="modal fade" th:fragment="modal" id="reservaModal">
    <form action="#" th:action="@{/crearReserva(id=${reserva.libro.id})}" id="reservaModalForm" th:method="post" th:object="${reserva}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Seleccionar fechas de reserva</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Alerta para reserva no valida-->
          <div class="alert alert-danger mb-0 d-none" id="alertValidationReservaDiv"></div>
          <div class="row">
            <div class="col-md-12">
              <p class="">Desea reservar el libro
                <b th:text="${reserva.libro.titulo}"></b> del autor
                <b th:text="${reserva.libro.autor.nombre}"></b>: </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label contenteditable="true">Desde:</label>
                <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control" th:field="*{fechaDesde}" id="fechaDesdeInput"> </div>
            </div>
            <div class="col-md-6">
              <label>Hasta:</label>
              <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control" th:field="*{fechaHasta}" id="fechaHastaInput"> </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" class="btn btn-primary" id="validarReserva">Reservar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <footer class="py-5 bg-dark text-white" th:fragment="footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-4 col-md-4 align-self-center">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-4 align-self-center">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-4 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Ricard Molina - All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>