 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="login.css"> </head>

<body>
<div class="modal fade" th:fragment="modal (libro)" th:id="${libro.id_libro}" th:assert="${libro != null}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar fechas de reserva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="">Desea reservar el libro
              <b th:text="${libro.titulo}"></b> del autor
              <b th:text="${libro.autor.nombre}"></b>: </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label contenteditable="true">Desde:</label>
              <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control"> </div>
          </div>
          <div class="col-md-6">
            <label>Hasta:</label>
            <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control"> </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>